 
<div class="container">
		<div class="row">
			<%for productoCodigo in @listadoProductosCodigo %>
			<%if productoCodigo.stock>0 && productoCodigo.estado=='activo'%>
			<div id="hola"class="col-sm-6 col-md-4" style="background-color:white">
			<a href="/productos/show?id=<%= productoCodigo.id %>">
		
			<p id="imagenproducto">
			<%if productoCodigo.imagen_file_name%>
				<a href="/productos/show?id=<%= productoCodigo.id %>"><%= image_tag productoCodigo.imagen.url(:thumb), class: "img-responsive aspect"%></a>
				
			<%else%>
				<a href="/productos/show?id=<%= productoCodigo.id %>"><img src="<%=asset_path ('ticket.PNG')%>" class= 'img-responsive aspect'></a>
			<%end%>
			</p>
			<p class="titular">
				<%= productoCodigo.titular%>
			</p>
			<p class="unidadesdisponibles">
				<span class="stock">En Stock</span><i> (Quedan <%=productoCodigo.stock%>)</i>
			</p>
			<a href="/pedidos/new?id=<%= productoCodigo.id %>"><button type="submit" class="btn btn-info">Comprar</button></a>
			<a href="/productos/show?id=<%= productoCodigo.id %>"><button type="submit" class="btn btn-success" role="button">Detalles</button></a>
			
		</div></a>
    		<%end%>
    		<%end%>
    	</div>
</div>