<section>
		
			<%for productoCodigo in @listadoProductosCodigo %>
			 <ul>
			 	<li><h6><%=productoCodigo.titular%></h6> </li>
			 	<li>
			 		<a href="/producto/show?id=<%= productoCodigo.id %>"><%= image_tag productoCodigo.imagen.url(:thumb)%></a>
			 	</li>	 	
			 	<li>
			 		<a href="/producto/detalles_producto?id=<%= productoCodigo.id %>">Detalles del producto</a> 
			 	</li>
			 	<li>
				Unidades disponibles: <%= productoCodigo.stock%>
				</li>
			 </ul>   		  
    		<%end%>
 </section>  
  		
 <p id="ref_admin"><a href="/admin">Admin</a></p>