<br><br>
<div class="col-md-12">
	<div class="row">
		<div class="col-sm-2">
			<h4>Resumen de su pedido</h4>
			<span>Vas a comprar: <%= @productos.titular%></span>
			<br>
			<%if @productos.imagen_file_name%>
				<%= image_tag @productos.imagen.url(:medium), class: "img-responsive aspect"%>
				
			<%else%>
				<img src="<%=asset_path ('ticket.PNG')%>" class= 'img-responsive aspect'>
			<%end%>
			<br>
			<span><%= @productos.descripcion%></span>
			<br>
			<span>Precio: <%= @productos.precio%> euros</span>
		</div>
		<div class="col-sm-10">
			<form class="form-horizontal" action="/pedidos/create">
				<input type="hidden" name="precio" value="<%= @productos.precio%>"/>
				<input type="hidden" name="id" value="<%= @productos.id%>" />

				<div class="form-group">
					<label class="control-label col-xs-3">Email*</label>
					<div class="col-xs-9">
						<input type="email" name="mail"class="form-control" id="inputEmail" placeholder="Email" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-3">Nombre*</label>
					<div class="col-xs-9">
						<input type="text" name="nombre" class="form-control" placeholder="Nombre" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-3">Calle</label>
					<div class="col-xs-9">
						<input type="text" name="calle" class="form-control" placeholder="Calle">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-3" >Numero</label>
					<div class="col-xs-9">
						<input type="number" name="numero" class="form-control" placeholder="Numero">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-3" >Código Postal</label>
					<div class="col-xs-9">
						<input type="text" name="cp" class="form-control" placeholder="Código Postal">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-3" >Localidad</label>
					<div class="col-xs-9">
						<input type="text" name="localidad" class="form-control" placeholder="Localidad">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-3" >Provincia</label>
					<div class="col-xs-9">
						<input type="text" name="provincia" class="form-control" placeholder="Provincia">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-3" >CIF</label>
					<div class="col-xs-9">
						<input type="text" name="cif" class="form-control" placeholder="CIF">
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-offset-3 col-xs-9">
						<button type="submit" class="btn btn-primary">Pagar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

