<div class="container">
		<div class="row">
			<%for productoEntrada in @listadoProductosCodigo %>
			<%if productoEntrada.stock>0 && productoEntrada.estado=='activo'%>
			<div id="hola"class="col-sm-6 col-md-4" style="background-color:white">
			<a href="/productos/show?id=<%= productoEntrada.id %>">
		
			<p id="imagenproducto">
			<%if productoEntrada.imagen_file_name%>
				<a href="/productos/show?id=<%= productoEntrada.id %>"><%= image_tag productoEntrada.imagen.url(:thumb), class: "img-responsive aspect"%></a>
				
			<%else%>
				<a href="/productos/show?id=<%= productoEntrada.id %>"><img src="<%=asset_path ('ticketinglogo.png')%>" class= 'img-responsive aspect'></a>
			<%end%>
			</p>
			<p class="titular">
				<%= productoEntrada.titular%>
			</p>
			<p class="unidadesdisponibles">
				Unidades disponibles: <%= productoEntrada.stock%>
			</p>
			<a href="/pedidos/new?id=<%= productoEntrada.id %>"><button type="submit" class="btn btn-info">Comprar</button></a>
			<a href="/productos/show?id=<%= productoEntrada.id %>"><button type="submit" class="btn btn-success" role="button">Detalles</button></a>
			
		</div></a>
    		<%end%>
    		<%end%>
    	</div>
</div>