<div class="container">
	<div class="row">
		<%for producto in @productos %>
		<%if producto.stock>0 && producto.estado=='activo'%>
		<a href="/productos/show?id=<%= producto.id %>">
		<div id="hola"class="col-sm-6 col-md-4" style="background-color:white">
			<p id="imagenproducto">
			<a href="/productos/show?id=<%= producto.id %>"><%= image_tag producto.imagen.url(:thumb), class: "img-responsive aspect"%></a>
			</p>
			<p class="titular">
				<%= producto.titular%>
			</p>
			<p class="unidadesdisponibles">
				Unidades disponibles: <%= producto.stock%>
			</p>
			<a href="/pedidos/new?id=<%= producto.id %>"><button type="submit" class="btn btn-info">Comprar</button></a>
			<a href="/productos/show?id=<%= producto.id %>"><button type="submit" class="btn btn-success" role="button">Detalles</button></a>
			
		</div></a>
		<%end%>
		<%end%>
	</div>
	
</div>

<p id="ref_admin">
		<a href="/admin">Admin</a>
	</p>