<div class="container">
	<div class="row">
		<%for producto in @listadoProductosEncontrados %>
		<%if producto.stock>0 && producto.estado=='activo'%>
		<a href="/productos/show?id=<%= producto.id %>">
		<div id="hola"class="col-sm-6 col-md-4" style="background-color:white">
			<p id="imagenproducto">
			<%if producto.imagen_file_name%>
				<a href="/productos/show?id=<%= producto.id %>"><%= image_tag producto.imagen.url(:thumb), class: "img-responsive aspect"%></a>
				
			<%else%>
				<a href="/productos/show?id=<%= producto.id %>"><img src="<%=asset_path ('ticket.PNG')%>" class= 'img-responsive aspect'></a>
			<%end%>
			</p>
			<p class="titular">
				<%= producto.titular%>
			</p>
			<p class="unidadesdisponibles">
				<span class="stock">En Stock</span><i> (Quedan <%=producto.stock%>)</i>
			</p>
			<a href="/pedidos/new?id=<%= producto.id %>"><button type="submit" class="btn btn-info">Comprar</button></a>
			<a href="/productos/show?id=<%= producto.id %>"><button type="submit" class="btn btn-success" role="button">Detalles</button></a>
			
		</div></a>
		<%end%>
		<%end%>
	</div>
	
</div>