
<h1><%= @producto.titular %></h1>

<%= @producto.descripcion%>
<br>
<%= @producto.precio%>
<br>
<%= image_tag @producto.imagen.url(:medium)%>
<br>
<a href="/pedidos/new?id=<%= @producto.id %>">Comprar</a>
<a href="/productos/index">Volver</a>