<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<h1>Gracias por su compra</h1>

  	<p>
  		Su numero de factura es <%=@factura.numeroFactura%><br />
  		Sus datos de facturacion son:<br />
  		Nombre <%=@factura.nombre%><br />
  		CIF/NIF <%=@factura.cif%><br />
  		Direccion <%=@factura.calle%>, numero <%=@factura.numero%><br />
  		Codigo postal <%=@factura.cp%><br />
  		Provincia <%=@factura.provincia%> <br />
  		Localidad <%=@factura.localidad%><br />
  		Importe <%=@factura.importe%><br />
  		<br />
  		Producto comprado: <%=@producto.titular%><br />
  		Codigo comprado: <%=@codigoComprado%>
  	</p>

  </body>
</html>
