<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<header>
			<span style="color: #26c2fb; font-size: 35px; font-weight: bold; font-family: Impact">Ticketing</span>
		</header>
		<h1>Gracias por su compra</h1>
		<h2>Estos son los detalles de su pedido: </h2>
		<hr />

		<h3>Datos de Facturación</h3>
		<p>
			<b>Número de Factura: </b> <%= @factura.numeroFactura.to_i%>
		</p>
		<p>
			<b>Nombre: </b><%= @factura.nombre%>
		</p>
		<p>
			<b>CIF/NIF: </b><%= @factura.cif%>
		</p>
		<p>
			<b>Direccion: </b><%= @factura.calle%>, numero <%= @factura.numero%>
		</p>
		<p>
			<b>Codigo postal: </b><%= @factura.cp%>
		</p>
		<p>
			<b>Provincia: </b><%= @factura.provincia%>
		</p>
		<p>
			<b>Localidad: </b><%= @factura.localidad%>
		</p>
		<hr />
		<p>
			<strong style="font-family: Helvetica">Importe: </span> <%= @factura.importe%> euros
		</p>

		<p>
			<b>Has comprado: </b><%= @producto.titular%>
		</p>
		<div style="border: 1px solid black;"><p style="text-align: center;"><u>Código</u></p>
			 <p style="border: 1px dotted black; text-align: center; font-size: 20px;"><%= @codigoComprado%></p>
		</div>
		<hr />
		<footer style="text-align: center;">
			<i>Gracias por confiar en nosotros - Ticketing</i>
		</footer>
	</body>
</html>
